# Please pass in --action_env=VERILOG_RUNNER_PLUGIN_PATH=<some_path>
# in the list below. Otherwise, tests will fail due to missing elab, lint, sim, fpv plugins.
# See //python/verilog_runner/README.adoc.
common \
--action_env=VERILOG_RUNNER_PLUGIN_PATH="" \
--local_resources=verilog_elab_test_tool_licenses=10000 \
--local_resources=verilog_lint_test_tool_licenses=10000 \
--local_resources=verilog_sim_test_tool_licenses=10000 \
--local_resources=verilog_fpv_test_tool_licenses=10000
