# SPDX-License-Identifier: Apache-2.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            \.svg$|
            \.patch$|
            verilog_rules.md$
          )
      - id: check-yaml
      - id: check-toml
      - id: check-ast
      - id: check-added-large-files
        args: ['--maxkb=5120']  # set to 5120 KiB = 5 MiB (adjust as needed)
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: debug-statements
      - id: mixed-line-ending

  # Format Python files
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.12

  # Format Bazel files
  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.1.1
    hooks:
    -   id: buildifier
        args: [--version, "v7.3.1", -mode=fix]
        exclude: \.patch$

  # Ensure BUILD files end with .bazel
  - repo: local
    hooks:
      - id: no-plain-build
        name: BUILD.bazel filenames
        entry: sh -c 'echo "BUILD files must be named BUILD.bazel"; exit 1' --
        language: system
        pass_filenames: true
        files: (^|/)BUILD$

  - repo: https://github.com/mgottscho/verible-py.git
    rev: v0.0-4051
    hooks:
      # Format Verilog files
      - id: verible-verilog-format
        args: [--inplace]
        # Skip ChipStack-generated files
        exclude: ^.*/chipstack/
      # Style lint Verilog files
      - id: verible-verilog-lint
        args: [--ruleset=default]
        # Skip ChipStack-generated files
        exclude: ^.*/chipstack/

  # Ensure that no tests have waves enabled. They're unnecessary to have on by default.
  # And the CI environment currently cannot generate them anyway, nor can we view them
  # if they were generated.
  - repo: local
    hooks:
      - id: no-waves
        name: no waves in tests
        entry: sh -c 'grep -n "waves = True" "$@" && exit 1 || true' --
        language: system
        pass_filenames: true
        files: (^|/)BUILD\.bazel$
