repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)(
            \.svg$|
            \.patch$
          )
      - id: check-yaml
      - id: check-toml
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: debug-statements
      - id: mixed-line-ending

  # Format Python files
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.12

  # Format Bazel files
  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.1.1
    hooks:
    -   id: buildifier
        args: [--version, "v7.3.1", -mode=fix]

  # Format Verilog files
  - repo: https://github.com/imc-trading/verible-py.git
    rev: v0.0-3426
    hooks:
      - id: verible-verilog-format
        args: [--inplace]

  # Style lint Verilog files
  - repo: https://github.com/imc-trading/verible-py.git
    rev: v0.0-3426
    hooks:
      - id: verible-verilog-lint
        args: [--ruleset=default]
