{#-
   This is a template for a shared FIFO controller. It is used to generate the following modules:
   - br_fifo_shared_dynamic_ctrl
   - br_fifo_shared_dynamic_ctrl_ext_arbiter
   - br_fifo_shared_dynamic_ctrl_push_credit
   - br_fifo_shared_dynamic_ctrl_push_credit_ext_arbiter
   - br_fifo_shared_pstatic_ctrl
   - br_fifo_shared_pstatic_ctrl_push_credit
-#}
{%- if dynamic -%}
{%-   set sharing_name_upper = "Dynamic" %}
{%-   set sharing_name_lower = "dynamic" %}
{%- else -%}{# pstatic #}
{%-   set sharing_name_upper = "Pseudo-Static" %}
{%-   set sharing_name_lower = "pseudo-static" %}
{%- endif -%}
{%- if push_credit -%}
{%-   set push_intf_name = "Valid/Credit" %}
{%- else -%}{# push_ready #}
{%-   set push_intf_name = "Valid/Ready" %}
{%- endif -%}
{%- if pop_credit -%}
{%-   set pop_intf_name = "Credit/Valid" %}
{%- else -%}{# pop_ready #}
{%-   set pop_intf_name = "Ready/Valid" %}
{%- endif -%}
{%- if ext_arbiter -%}
{%-   set ext_arbiter_text = " with external arbiter interface" %}
{%- else -%}{# ext_arbiter #}
{%-   set ext_arbiter_text = "" %}
{%- endif -%}
// SPDX-License-Identifier: Apache-2.0
//
// Bedrock-RTL Shared {{ sharing_name_upper }} Multi-FIFO Controller
// (Push {{ push_intf_name }} Interface, Pop {{ pop_intf_name }} Interface{{ ext_arbiter_text }})
//
// This module implements the controller for a shared storage multi-FIFO
// with {{ sharing_name_lower }} allocation.
//
{%- if dynamic %}
// The multi-FIFO contains multiple logical FIFOs. Space in the shared
// data RAM is allocated to the logical FIFOs dynamically.
// The order of RAM entries for a single logical FIFO is tracked via
// singly-linked lists. The linked lists are stored in a separate
// pointer RAM. The data and pointer RAMs must be instantiated
// externally to this module and connected to the `data_ram_*` and
// `ptr_ram_*` ports.
{%- else %}
// The multi-FIFO contains multiple logical FIFOs. Space in the shared
// data RAM is allocated to the logical FIFOs statically at initialization,
// and a separate set of read/write pointers are kept per logical FIFO.
// For instance, for a 4-FIFO design with a depth of 16, the sizes of the
// logical FIFOs might be [6, 2, 3, 5]. In this case, you would configure
// the base and bound addresses as [(0, 5), (6, 7), (8, 10), (11, 15)] and the
// layout of the data RAM is as follows:
//
//  +----------------------------------------------------------------------------+
//  | Addr | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 |
//  |------|---|---|---|---|---|---|---|---|---|---|----|----|----|----|----|----|
//  | FIFO | 0 | 0 | 0 | 0 | 0 | 0 | 1 | 1 | 2 | 2 | 2  | 3  | 3  | 3  | 3  | 3  |
//  +----------------------------------------------------------------------------+
//
{%- endif %}
// The push interface provides a {% if push_credit %}valid/credit{% else %}valid/ready{% endif %} interface and a binary-encoded
// FIFO ID. The push data is appended to the logical FIFO with the specified ID.
//
{%- if dynamic %}
{%-   if push_credit %}
// The FIFO controller supports multiple write ports. Each write port has its own
// push_valid and push_data, but the push_credit return is shared by all push
// ports and returns up to `NumWritePorts` credits every cycle. The sender can
// send on every push_valid flow in the same cycle if it has sufficient credit,
// even if multiple flows are destined for the same logical FIFO.
{%-   else %}{# push_ready #}
// The FIFO controller supports multiple write ports. There will be one push
// ready/valid interface for each write port. If there is sufficient space, the
// multi-FIFO can accept an item from every push interface on the same cycle,
// even if they are to the same logical FIFO.
{%-   endif %}
{%- else %}{# pstatic #}
{%-   if push_credit %}
// Since there is a separate allocation for each logical FIFO, each logical FIFO
// has its own independent credit return.
{%-   endif %}
{%- endif %}
//
{%- if pop_credit %}
// The pop interface uses credit-based flow control. Each logical FIFO has its
// own credit return and credit count. There will be one pop_valid and pop_data
// for each read port, and any logical FIFO can use any read port. The pop_fifo_id
// will indicate the logical FIFO the data is read from. A logical FIFO can be popped
// as long as it has at least one credit available. The bandwidth of a single logical FIFO
// is bounded by the maximum available credit and the RAM read latency.
// That is, it is `PopMaxCredits / (RamReadLatency + 1)`.
{%- else %}{# pop_ready #}
// Every logical FIFO has its own ready/valid pop interface. If the data RAM
// read latency is non-zero or the RegisterPopOutputs parameter is set to 1, the
// pop_data will be provided from a staging buffer per logical FIFO. The staging
// buffers are refilled from the data RAM and arbitrate with each other for
// access. The depth of each staging buffer can be configured with the
// StagingBufferDepth parameter. The bandwidth of a single logical FIFO is
// determined by the staging buffer depth and is equivalent to
// `StagingBufferDepth / ({% if dynamic %}DataRamReadLatency{% else %}RamReadLatency{% endif %} + 1)`.
{%- endif %}
//
{%- if dynamic %}
// The controller supports multiple read ports. Each logical FIFO can use any of the read ports.
// The mapping of reads to ports is based on the lower bits of the read address. Each logical FIFO can
// only pop at most one item per cycle. Therefore, there must be at least as
// many active logical FIFOs as read ports to fully utilize the read bandwidth.
//
// Because the pop bandwidth of a linked list is limited by the pointer RAM read
// latency, the multi-FIFO supports using multiple linked lists per logical
// FIFO, configured by the `NumLinkedListsPerFifo` parameter. The linked list
// controller will cycle through the linked list heads in round-robin fashion.
// The bandwidth is also limited by the staging buffer depth and data RAM read
// latency. Up to `{% if pop_credit %}PopMaxCredits{% else %}StagingBufferDepth{% endif %}` reads can be inflight to the RAM at any
// time. Thus, the bandwidth of a single logical FIFO is capped at
// the minimum of `NumLinkedListsPerFifo / (PointerRamReadLatency + 1)` and
// `{% if pop_credit %}PopMaxCredits / (DataRamReadLatency + 1){% else %}StagingBufferDepth / (DataRamReadLatency + 1){% endif %}`. To get full bandwidth,
// the number of linked lists per FIFO should be set to `PointerRamReadLatency +
// 1` and the {% if pop_credit %}maximum number of credits{% else %}staging buffer depth{% endif %} should be set to `DataRamReadLatency + 1`.

// The design assumes that the data and pointer RAMs and are instantiated externally.
{%- else %}{# pstatic #}
// The design assumes that the RAM is instantiated externally.
{%- endif %}
//
{%- if ext_arbiter %}
// This design assumes there are external arbiters deciding the arbitration policy
// for each read port. The arb_request, arb_grant, and arb_enable_priority_update
// signals are used to connect to the external arbiters. The interface is compatible
// to the standard arbiters like br_arb_fixed, br_arb_rr, and br_arb_lru.
{%- else %}
// The design uses internal arbiters to determine which logical FIFOs can use the RAM read ports
// on a given cycle. The arbitration policy is least-recently used (LRU).
{%- endif %}

`include "br_asserts_internal.svh"

// ri lint_check_waive MOD_NAME
module {{ module_name }} #(
    // Number of logical FIFOs. Must be >=2.
    parameter int NumFifos = 2,
    // Total depth of the FIFO.
{%- if dynamic %}
    // Must be greater than two times the number of write ports and at least the number of read ports.
{%- else %}{# pstatic #}
    // Must be greater or equal to the number of logical FIFOs.
{%- endif %}
    parameter int Depth = 3,
    // Width of the data. Must be >=1.
    parameter int Width = 1,
{%- if dynamic %}
    // Number of write ports. Must be >=1.
{%- else %}{# pstatic #}
    // Number of write ports. For now, this must be 1.
{%- endif %}
    parameter int NumWritePorts = 1,
{%- if dynamic %}
    // Number of read ports. Must be >=1 and a power of 2.
{%- else %}{# pstatic #}
    // Number of read ports. For now, this must be 1.
{%- endif %}
    parameter int NumReadPorts = 1,
{%- if pop_credit %}
    // The maximum number of pop-side credits that can be available to a single FIFO.
    parameter int PopMaxCredits = 1,
{%- else %}{# pop_credit #}
    // The depth of the pop-side staging buffer.
    // This affects the pop bandwidth of each logical FIFO.
{%-   if dynamic %}
    // The max bandwidth will be `StagingBufferDepth / (DataRamReadLatency + 1)`.
{%-   else %}{# pstatic #}
    // The max bandwidth will be `StagingBufferDepth / (RamReadLatency + 1)`.
{%-   endif %}{# dynamic #}
    parameter int StagingBufferDepth = 1,
{%- endif %}{# pop_credit #}
{%- if dynamic %}
    // The number of sub-linked lists used by each logical FIFO.
    // This affects the pop bandwidth of each logical FIFO.
    // The max bandwidth will be `NumLinkedListsPerFifo / (PointerRamReadLatency + 1)`.
    parameter int NumLinkedListsPerFifo = 1,
{%- endif %}
{%- if not pop_credit %}
    // If 1, make sure pop_valid/pop_data are registered at the output
    // of the staging buffer. This adds a cycle of cut-through latency.
    parameter bit RegisterPopOutputs = 0,
{%- endif %}
{%- if dynamic %}
    // If 1, place a register on the deallocation path from the pop-side
    // staging buffer to the freelist. This improves timing at the cost of
    // adding a cycle of backpressure latency.
    parameter bit RegisterDeallocation = 0,
    // The number of cycles between data ram read address and read data. Must be >=0.
    parameter int DataRamReadLatency = 0,
    // The number of cycles between pointer ram read address and read data. Must be >=0.
    parameter int PointerRamReadLatency = 0,
{%- else %}
    // The number of cycles between ram read address and read data. Must be >=0.
    parameter int RamReadLatency = 0,
{%- endif %}
{%- if ext_arbiter %}
    // If 1, the arbiter is guaranteed to grant in a cycle when any request is asserted.`
    // If 0, the arbiter may not grant in a cycle even when there is a request.
    parameter bit ArbiterAlwaysGrants = 1,
{%- endif %}
{%- if push_credit %}
    // If 1, add a retiming stage to the push_credit signal so that it is
    // driven directly from a flop. This comes at the expense of one additional
    // cycle of credit loop latency.
    parameter bit RegisterPushOutputs = 0,
    // If 1, cover that push_credit_stall can be asserted
    // Otherwise, assert that it is never asserted.
    parameter bit EnableCoverPushCreditStall = 1,
    // If 1, cover that credit_withhold can be non-zero.
    // Otherwise, assert that it is always zero.
    parameter bit EnableCoverCreditWithhold = 1,
    // If 1, cover that push_sender_in_reset can be asserted
    // Otherwise, assert that it is never asserted.
    parameter bit EnableCoverPushSenderInReset = 1,
{%- else %}{# push_ready #}
    // If 1, cover that the push side experiences backpressure.
    // If 0, assert that there is never backpressure.
    parameter bit EnableCoverPushBackpressure = 1,
    // If 1, assert that push_valid is stable when backpressured.
    parameter bit EnableAssertPushValidStability = EnableCoverPushBackpressure,
    // If 1, assert that push_data is stable when backpressured.
    // ri lint_check_waive PARAM_NOT_USED
    parameter bit EnableAssertPushDataStability = EnableAssertPushValidStability,
{%- endif %}
    // If 1, assert that push_data is always known (not X) when push_valid is asserted.
    parameter bit EnableAssertPushDataKnown = 1,
    // If 1, then assert there are no valid bits asserted and that the FIFO is
    // empty at the end of the test.
    // ri lint_check_waive PARAM_NOT_USED
    parameter bit EnableAssertFinalNotValid = 1,

{%- if push_credit %}
    localparam int PushCreditWidth = $clog2(NumWritePorts + 1),
{%- endif %}
{%- if pop_credit %}
    localparam int PopCreditWidth = $clog2(PopMaxCredits + 1),
{%- endif %}
    localparam int CountWidth = $clog2(Depth + 1),
    localparam int FifoIdWidth = br_math::clamped_clog2(NumFifos),
    localparam int AddrWidth   = br_math::clamped_clog2(Depth)
) (
    input logic clk,
    input logic rst,

{%- if not dynamic %}
    // Fifo configuration
    // These can come from straps or CSRs, but they must be set before reset is
    // deasserted and then held stable until reset is asserted.
    // The base and bound addresses determine the range of RAM addresses given
    // to each logical FIFO. They are both inclusive, so logical FIFO i will
    // increment from config_base[i] up to config_bound[i] before wrapping back
    // around to config_base[i] again.
    // The minimum size for a given logical FIFO is 1, meaning that
    // config_bound[i] must be >= config_base[i] for all i.
    // The address ranges must be in ascending order.
    input logic [NumFifos-1:0][AddrWidth-1:0] config_base,
    input logic [NumFifos-1:0][AddrWidth-1:0] config_bound,
    // Error is asserted if the base and bound addresses are misconfigured.
    // For instance, if any address is >= Depth, config_base[i] > config_bound[i],
    // or config_base[i] <= config_bound[i-1] for i > 0.
    output logic config_error,
{%- endif %}

    // Push side
{%- if push_credit %}
    input logic push_sender_in_reset,
    output logic push_receiver_in_reset,
{%-   if dynamic %}
    input  logic push_credit_stall,
    output logic [PushCreditWidth-1:0] push_credit,
{%-   else %}{# pstatic #}
    input logic [NumFifos-1:0] push_credit_stall,
    output logic [NumFifos-1:0][PushCreditWidth-1:0] push_credit,
{%-   endif %}{# dynamic #}
{%- else %}{# push_ready #}
    output logic [NumWritePorts-1:0] push_ready,
{%- endif %}
    input logic [NumWritePorts-1:0] push_valid,
    input logic [NumWritePorts-1:0][Width-1:0] push_data,
    input logic [NumWritePorts-1:0][FifoIdWidth-1:0] push_fifo_id,
{%- if dynamic %}
    output logic push_full,
{%- else %}{# pstatic #}
    output logic [NumFifos-1:0] push_full,
{%- endif %}{# dynamic #}

{%- if push_credit %}
{%-   if dynamic %}
    input  logic [CountWidth-1:0] credit_initial_push,
    input  logic [CountWidth-1:0] credit_withhold_push,
    output logic [CountWidth-1:0] credit_available_push,
    output logic [CountWidth-1:0] credit_count_push,
{%-   else %}{# pstatic #}
    input  logic [NumFifos-1:0][CountWidth-1:0] credit_initial_push,
    input  logic [NumFifos-1:0][CountWidth-1:0] credit_withhold_push,
    output logic [NumFifos-1:0][CountWidth-1:0] credit_available_push,
    output logic [NumFifos-1:0][CountWidth-1:0] credit_count_push,
{%-   endif %}{# dynamic #}
{%- endif %}{# push_credit #}

    // Pop side
{%- if pop_credit %}
    output logic pop_sender_in_reset,
    input logic pop_receiver_in_reset,
    input logic [NumFifos-1:0] pop_credit,
    output logic [NumReadPorts-1:0] pop_valid,
    output logic [NumReadPorts-1:0][FifoIdWidth-1:0] pop_fifo_id,
    output logic [NumReadPorts-1:0][Width-1:0] pop_data,
{%- else %}
    output logic [NumFifos-1:0] pop_valid,
    input logic [NumFifos-1:0] pop_ready,
    output logic [NumFifos-1:0][Width-1:0] pop_data,
{%- endif %}
    output logic [NumFifos-1:0] pop_empty,

{%- if pop_credit %}
    input  logic [NumFifos-1:0][PopCreditWidth-1:0] credit_initial_pop,
    input  logic [NumFifos-1:0][PopCreditWidth-1:0] credit_withhold_pop,
    output logic [NumFifos-1:0][PopCreditWidth-1:0] credit_available_pop,
    output logic [NumFifos-1:0][PopCreditWidth-1:0] credit_count_pop,
{%- endif %}

{%- if ext_arbiter %}
    // Arbiter interface
    output logic [NumReadPorts-1:0][NumFifos-1:0] arb_request,
    input logic [NumReadPorts-1:0][NumFifos-1:0] arb_grant,
    output logic [NumReadPorts-1:0] arb_enable_priority_update,
{%- endif %}

{%- if dynamic %}
    // Data RAM Ports
    output logic [NumWritePorts-1:0] data_ram_wr_valid,
    output logic [NumWritePorts-1:0][AddrWidth-1:0] data_ram_wr_addr,
    output logic [NumWritePorts-1:0][Width-1:0] data_ram_wr_data,

    output logic [NumReadPorts-1:0] data_ram_rd_addr_valid,
    output logic [NumReadPorts-1:0][AddrWidth-1:0] data_ram_rd_addr,
    input logic [NumReadPorts-1:0] data_ram_rd_data_valid,
    input logic [NumReadPorts-1:0][Width-1:0] data_ram_rd_data,

    // Pointer RAM Ports
    output logic [NumWritePorts-1:0] ptr_ram_wr_valid,
    output logic [NumWritePorts-1:0][AddrWidth-1:0] ptr_ram_wr_addr,
    output logic [NumWritePorts-1:0][AddrWidth-1:0] ptr_ram_wr_data,

    output logic [NumReadPorts-1:0] ptr_ram_rd_addr_valid,
    output logic [NumReadPorts-1:0][AddrWidth-1:0] ptr_ram_rd_addr,
    input logic [NumReadPorts-1:0] ptr_ram_rd_data_valid,
    input logic [NumReadPorts-1:0][AddrWidth-1:0] ptr_ram_rd_data
{%- else %}
    // RAM Ports
    output logic [NumWritePorts-1:0] ram_wr_valid,
    output logic [NumWritePorts-1:0][AddrWidth-1:0] ram_wr_addr,
    output logic [NumWritePorts-1:0][Width-1:0] ram_wr_data,

    output logic [NumReadPorts-1:0] ram_rd_addr_valid,
    output logic [NumReadPorts-1:0][AddrWidth-1:0] ram_rd_addr,
    input logic [NumReadPorts-1:0] ram_rd_data_valid,
    input logic [NumReadPorts-1:0][Width-1:0] ram_rd_data
{%- endif %}
);

  // Integration Checks
{%- if dynamic %}
  `BR_ASSERT_STATIC(num_write_ports_in_range_a, NumWritePorts >= 1)
  `BR_ASSERT_STATIC(legal_num_read_ports_a, NumReadPorts >= 1 && br_math::is_power_of_2(
                    NumReadPorts))
  `BR_ASSERT_STATIC(pointer_ram_read_latency_in_range_a, PointerRamReadLatency >= 0)
  `BR_ASSERT_STATIC(data_ram_read_latency_in_range_a, DataRamReadLatency >= 0)
{%- else %}
  // TODO(zhemao): Support multiple read and write ports for pseudo-static FIFOs
  `BR_ASSERT_STATIC(one_write_port_a, NumWritePorts == 1)
  `BR_ASSERT_STATIC(one_read_port_a, NumReadPorts == 1)
  `BR_ASSERT_STATIC(ram_read_latency_in_range_a, RamReadLatency >= 0)
{%- endif %}
  `BR_ASSERT_STATIC(num_fifos_in_range_a, NumFifos >= 2)
{%- if dynamic %}
  localparam int MinDepth = br_math::max2(2 * NumWritePorts + 1, NumReadPorts);
{%- else %}
  localparam int MinDepth = NumFifos;
{%- endif %}
  `BR_ASSERT_STATIC(depth_in_range_a, Depth >= MinDepth)
  `BR_ASSERT_STATIC(width_in_range_a, Width >= 1)
{%- if not pop_credit %}
  `BR_ASSERT_STATIC(staging_buffer_depth_in_range_a, StagingBufferDepth >= 1)
{%- endif %}

  // Other integration checks in submodules

  // Implementation

{%- if dynamic %}
  // Push Controller
  logic [NumFifos-1:0][NumWritePorts-1:0] next_tail_valid;
  logic [NumFifos-1:0][NumWritePorts-1:0][AddrWidth-1:0] next_tail;
  logic [NumFifos-1:0] dealloc_valid;
  logic [NumFifos-1:0][AddrWidth-1:0] dealloc_entry_id;
{%- else %}{# pstatic #}
  // Size Calculation
  logic [NumFifos-1:0][CountWidth-1:0] config_size;

  br_fifo_shared_pstatic_size_calc #(
      .NumFifos(NumFifos),
      .Depth(Depth)
  ) br_fifo_shared_pstatic_size_calc (
      .clk,
      .rst,
      .config_base,
      .config_bound,
      .config_size,
      .config_error
  );

  // Push Controller
  logic [NumFifos-1:0] advance_tail;
  logic [NumFifos-1:0][AddrWidth-1:0] tail_next;
  logic [NumFifos-1:0][AddrWidth-1:0] tail;
{%-   if push_credit %}
  logic [NumFifos-1:0] dealloc_valid;
{%-   endif %}{# push_credit #}
{%- endif %}{# dynamic #}

{%- if push_credit and pop_credit %}
{%-   set push_ctrl_rst = 'push_ctrl_rst' %}
{%-   set ptr_mgr_rst = 'ptr_mgr_rst' %}
{%-   set pop_ctrl_rst = 'pop_ctrl_rst' %}
  logic push_ctrl_rst;
  logic ptr_mgr_rst;
  logic pop_ctrl_rst;
  assign push_ctrl_rst = rst || pop_receiver_in_reset;
  assign ptr_mgr_rst = rst || pop_receiver_in_reset || push_sender_in_reset;
  assign pop_ctrl_rst = rst || push_sender_in_reset;
{%- elif push_credit %}
{%-   set push_ctrl_rst = 'rst' %}
{%-   set ptr_mgr_rst = 'either_rst' %}
{%-   set pop_ctrl_rst = 'either_rst' %}
  logic either_rst;
  assign either_rst = rst || push_sender_in_reset;
{%- elif pop_credit %}
{%-   set push_ctrl_rst = 'either_rst' %}
{%-   set ptr_mgr_rst = 'either_rst' %}
{%-   set pop_ctrl_rst = 'rst' %}
  logic either_rst;
  assign either_rst = rst || pop_receiver_in_reset;
{%- else %}{# push and pop ready #}
{%-   set push_ctrl_rst = 'rst' %}
{%-   set ptr_mgr_rst = 'rst' %}
{%-   set pop_ctrl_rst = 'rst' %}
{%- endif %}

  {{ push_ctrl_module }} #(
{%- if dynamic %}
      .NumWritePorts(NumWritePorts),
{%- endif %}
{%- if dynamic and push_credit %}
      .NumReadPorts(NumReadPorts),
{%- endif %}
      .NumFifos(NumFifos),
      .Depth(Depth),
      .Width(Width),
{%- if push_credit %}
      .RegisterPushOutputs(RegisterPushOutputs),
      .EnableCoverPushCreditStall(EnableCoverPushCreditStall),
      .EnableCoverCreditWithhold(EnableCoverCreditWithhold),
      .EnableCoverPushSenderInReset(EnableCoverPushSenderInReset),
{%- else %}
      .EnableCoverPushBackpressure(EnableCoverPushBackpressure),
      .EnableAssertPushValidStability(EnableAssertPushValidStability),
      .EnableAssertPushDataStability(EnableAssertPushDataStability),
{%- endif %}
      .EnableAssertPushDataKnown(EnableAssertPushDataKnown),
      .EnableAssertFinalNotValid(EnableAssertFinalNotValid)
  ) {{ push_ctrl_module }}_inst (
      .clk,
      .rst({{ push_ctrl_rst }}),
{%- if not dynamic %}
      .config_base,
      .config_bound,
{%-   if push_credit %}
      .config_size,
{%-   endif %}{# push_credit #}
{%- endif %}{# pstatic #}
{%- if push_credit %}
      .push_sender_in_reset,
      .push_receiver_in_reset,
      .push_credit_stall,
      .push_credit,
{%- else %}
      .push_ready,
{%- endif %}
      .push_valid,
      .push_fifo_id,
      .push_data,
      .push_full,
{%- if push_credit %}
      .credit_initial_push,
      .credit_withhold_push,
      .credit_available_push,
      .credit_count_push,
{%- endif %}
{%- if dynamic %}
      .data_ram_wr_valid,
      .data_ram_wr_addr,
      .data_ram_wr_data,
      .next_tail_valid,
      .next_tail,
      .dealloc_valid,
      .dealloc_entry_id
{%-   if not push_credit %},
      .dealloc_count()
{%-   endif %}{# push_credit #}
{%- else %}{# pstatic #}
      .ram_wr_valid,
      .ram_wr_addr,
      .ram_wr_data,
      .advance_tail,
      .tail_next,
      .tail
{%-   if push_credit %},
      .dealloc_valid
{%-   endif %}{# push_credit #}
{%- endif %}{# dynamic #}
  );

  // Pointer Manager
  logic [NumFifos-1:0] ram_empty;
{%- if not pop_credit %}
  logic [NumFifos-1:0][CountWidth-1:0] ram_items;
{%- endif %}
  logic [NumFifos-1:0] head_ready;
  logic [NumFifos-1:0] head_valid;
  logic [NumFifos-1:0][AddrWidth-1:0] head;

  {{ ptr_mgr_module }} #(
      .NumFifos(NumFifos),
      .Depth(Depth),
{%- if dynamic %}
      .NumWritePorts(NumWritePorts),
      .NumReadPorts(NumReadPorts),
      .NumLinkedListsPerFifo(NumLinkedListsPerFifo),
      .RamReadLatency(PointerRamReadLatency)
{%- else %}
      // Keep this at 0 for now to avoid introducing extra registers.
      // May expose this as a top-level parameter if there is a timing issue.
      .RegisterRamItems(0),
      .EnableAssertFinalNotValid(EnableAssertFinalNotValid)
{%- endif %}
  ) {{ ptr_mgr_module }}_inst (
      .clk,
      .rst({{ ptr_mgr_rst }}),
{%- if dynamic %}
      .next_tail_valid,
      .next_tail,
      .ptr_ram_wr_valid,
      .ptr_ram_wr_addr,
      .ptr_ram_wr_data,
      .ptr_ram_rd_addr_valid,
      .ptr_ram_rd_addr,
      .ptr_ram_rd_data_valid,
      .ptr_ram_rd_data,
{%- else %}{# pstatic #}
      .config_base,
      .config_bound,
      .config_size,
      .advance_tail,
      .tail_next,
      .tail,
      .push_full,
{%- endif %}{# dynamic #}
      .head_valid,
      .head_ready,
      .head,
      .empty(ram_empty),
{%- if pop_credit %}
      .items()  // Not used
{%- else %}{# pop_ready #}
      .items(ram_items)
{%- endif %}{# pop_credit #}
  );

  // Pop Controller
  {{ pop_ctrl_module }} #(
      .NumReadPorts(NumReadPorts),
      .NumFifos(NumFifos),
      .Depth(Depth),
      .Width(Width),
{%- if pop_credit %}
      .PopMaxCredits(PopMaxCredits),
{%- else %}
      .StagingBufferDepth(StagingBufferDepth),
{%- endif %}
{%- if dynamic %}
      .RamReadLatency(DataRamReadLatency),
      .RegisterDeallocation(RegisterDeallocation)
{%- else %}
      .RamReadLatency(RamReadLatency)
{%- endif %}
{%- if ext_arbiter %},
      .ArbiterAlwaysGrants(ArbiterAlwaysGrants)
{%- endif %}
{%- if not pop_credit %},
      .RegisterPopOutputs(RegisterPopOutputs)
{%- endif %}
  ) {{ pop_ctrl_module }}_inst (
      .clk,
      .rst({{ pop_ctrl_rst }}),
      .head_valid,
      .head_ready,
      .head,
      .ram_empty,
{%- if pop_credit %}
      .pop_sender_in_reset,
      .pop_receiver_in_reset,
      .pop_credit,
      .pop_valid,
      .pop_fifo_id,
      .pop_data,
{%- else %}{# pop_ready #}
      .ram_items,
      .pop_ready,
      .pop_valid,
      .pop_data,
{%- endif %}{# pop_credit #}
      .pop_empty,

{%- if pop_credit %}
      .credit_initial_pop,
      .credit_withhold_pop,
      .credit_available_pop,
      .credit_count_pop,
{%- endif %}{# pop_credit #}

{%- if ext_arbiter %}
      .arb_request,
      .arb_grant,
      .arb_can_grant(arb_grant),
      .arb_enable_priority_update,
{%- endif %}

{%- if dynamic %}
      .dealloc_valid,
      .dealloc_entry_id,
      .data_ram_rd_addr_valid,
      .data_ram_rd_addr,
      .data_ram_rd_data_valid,
      .data_ram_rd_data
{%- else %}
{%-   if push_credit %}
      .dealloc_valid,
      .dealloc_entry_id(),  // Not used
{%-   else %}
      .dealloc_valid(),  // Not used
      .dealloc_entry_id(),  // Not used
{%-   endif %}
      .data_ram_rd_addr_valid(ram_rd_addr_valid),
      .data_ram_rd_addr(ram_rd_addr),
      .data_ram_rd_data_valid(ram_rd_data_valid),
      .data_ram_rd_data(ram_rd_data)
{%- endif %}
  );

  // Implementation Checks

  // TODO(zhemao): Add the checks
endmodule : {{ module_name }}
{# final newline #}
